<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1" >
    <test name="ChromeTest">
        <parameter name="browser" value="CHROME" />
        <classes>
            <class name="test_cases.LoginTests"/>
            <class name="test_cases.ChangePasswordTest"/>
            <class name="test_cases.RegisterTests"/>
            <class name="test_cases.BookTicketTest"/>
            <class name="test_cases.LoginTests"/>
        </classes>
    </test>
</suite>
